[buildout]
extends = eea.cfg
extensions = mr.developer
allow-picked-versions = true
always-checkout = force

parts +=
  zodbdgc
  zeo
  instance

auto-checkout +=
  eea.privacyscreen
  wise.msfd

find-links =
  https://eggrepo.eea.europa.eu/simple/
  https://pypi.org/simple/
  https://eggshop.eaudeweb.ro
  https://code.codesyntax.com/static/public

[zodbdgc]
recipe = zc.recipe.egg
eggs = zc.zodbdgc

[instance]
<= instance_base
recipe = plone.recipe.zope2instance
user = admin:admin

shared-blob = off
blob-storage = /data/blobstorage
blob-storage-cache = /data/blobstorage

environment-vars =
  WKHTMLTOPDF_PATH ${configuration:wkhtmltopdf}

[zeo]
<= zeoserver_base
recipe = plone.recipe.zeoserver
zeo-address = 8080

shared-blob = on
blob-storage = /data/blobstorage
blob-storage-cache = /data/blobstorage

[configuration]
wkhtmltopdf = ${buildout:directory}/parts/wkhtmltopdf/wkhtmltopdf

eggs +=
  plone.app.imagecropping
  plone.tiles
  collective.MockMailHost
  collective.exportimport
  eea.api.dataconnector
  eea.restapi
  pdfkit
  wise.msfd
  eea.privacyscreen
  eea.coremetadata
  collective.relationhelpers
  eea.progress.workflow

zcml +=
  ${buildout:zcml}
  wise.msfd
  eea.api.dataconnector
  eea.restapi

[sources]
eea.privacyscreen = git https://github.com/eea/eea.privacyscreen.git branch=master
wise.msfd = git https://github.com/eea/wise.msfd.git branch=plone5

[versions]
plone.autoinclude = 2.0.0
eea.api.dataconnector = 11.5
eea.coremetadata = 5.3
#wise.msfd = 4.8
plone.restapi = 9.6.1
plone.rest = 4.1.3
eea.volto.policy = 7.2
plone.volto = 4.1.0
# plone.api.relation needed to fix relations, is added in version 2.0.0
plone.api = 2.0.0

collective.z3cform.datagridfield = 1.5.3
rdflib-jsonld = 0.6.2
SQLAlchemy = 1.4.46
openpyxl = 3.0.10
# START collective.exportimport
collective.exportimport = 1.7
ijson = 3.2.0.post0
hurry.filesize = 0.9
openpyxl = 3.0.10
zope.sqlalchemy = 2.0
pymssql = 2.2.8
# END collective.exportimport
