[buildout]
extends = eea.cfg
extensions = mr.developer
allow-picked-versions = true
always-checkout = force

parts +=
  zodbdgc
  zeo
  instance

auto-checkout +=
  wise.theme
  wise.msfd
  plone.restapi

[zodbdgc]
recipe = zc.recipe.egg
eggs = zc.zodbdgc

[instance]
<= instance_base
recipe = plone.recipe.zope2instance
user = admin:admin

shared-blob = off
blob-storage = /data/blobstorage
blob-storage-cache = /data/blobstorage

[zeo]
<= zeoserver_base
recipe = plone.recipe.zeoserver
zeo-address = 8080

shared-blob = on
blob-storage = /data/blobstorage
blob-storage-cache = /data/blobstorage

[configuration]
wkhtmltopdf = ${buildout:directory}/parts/wkhtmltopdf/wkhtmltopdf

eggs +=
  plone.app.imagecropping
  plone.app.robotframework
  plone.tiles
  collective.MockMailHost
  collective.taxonomy
  collective.exportimport
  eea.api.dataconnector
  eea.dexterity.rdfmarshaller
  eea.restapi
  eea.volto.slate
  pdfkit
  wise.theme
  wise.msfd

zcml +=
  ${buildout:zcml}
  wise.theme
  wise.msfd
  collective.taxonomy
  eea.api.dataconnector
  eea.dexterity.rdfmarshaller
  eea.restapi

[sources]
plone.restapi = git https://github.com/plone/plone.restapi.git branch=slots
wise.theme = git https://github.com/eea/wise.theme.git branch=plone5-py3
wise.msfd = git https://github.com/eea/wise.msfd.git branch=plone5
eea.privacyscreen = git https://github.com/eea/eea.privacyscreen.git branch=python3

[versions]
plone.restapi = 8.24.1
plone.rest = 2.0.0a1
plone.app.imagecropping = 2.2.2
collective.taxonomy = 2.2.1
eea.dexterity.rdfmarshaller = 0.5
eea.api.dataconnector = 2.5
eea.restapi = 2.6
eea.volto.slate = 1.0
moz-sql-parser = 4.21.21059
# START collective.exportimport
collective.exportimport = 1.5
hurry.filesize = 0.9
ijson = 3.1.4
# END collective.exportimport
